In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [3]:
# Create reference to CSV file
csv_path = "Resources/Soccer2018Data.csv"

# Import the CSV into a pandas DataFrame
soccer_2018_df = pd.read_csv(csv_path, low_memory=False)

In [4]:
# Collect a list of all the unique values in "Preferred Position"
soccer_2018_df["Preferred Position"].unique()

array(['ST', 'RW', 'LW', 'GK', 'CDM', 'CB', 'RM', 'CM', 'LM', 'LB', 'CAM',
       'RB', 'CF', 'RWB', 'LWB'], dtype=object)

In [11]:
# Looking only at strikers (ST) to start
strikers_2018_df = soccer_2018_df.loc[soccer_2018_df["Preferred Position"] == "ST", :]
strikers_2018_df.head()

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
5,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,ST,84.0,57.0,62.0,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
9,G. Higuaín,29,Argentina,90,90,Juventus,ST,81.0,46.0,52.0,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
16,S. Agüero,29,Argentina,89,89,Manchester City,ST,85.0,44.0,54.0,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0

In [5]:
# Sort the DataFrame by the values in the "ST" column to find the worst
strikers_2018_df = strikers_2018_df.sort_values("ST")

# Reset the index so that the index is now based on the sorting locations
strikers_2018_df = strikers_2018_df.reset_index(drop=True)

strikers_2018_df.head()

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,38.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0
1,M. Zettl,18,Germany,50,67,SpVgg Unterhaching,ST,47.0,32.0,36.0,...,39.0,32.0,42.0,36.0,46.0,49.0,43.0,49.0,41.0,43.0
2,O. Sowunmi,21,England,59,71,Yeovil Town,ST,35.0,58.0,47.0,...,52.0,58.0,37.0,47.0,38.0,38.0,44.0,37.0,49.0,44.0
3,E. Mason-Clark,17,England,50,63,Barnet,ST,49.0,33.0,35.0,...,39.0,33.0,42.0,35.0,49.0,50.0,45.0,51.0,40.0,45.0
4,J. Young,17,Scotland,46,61,Swindon Town,ST,44.0,28.0,29.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0

In [6]:
# Save all of the information collected on the worst striker
worst_striker = strikers_2018_df.loc[0, :]
worst_striker

Name                          L. Sackey
Age                                  18
Nationality                       Ghana
Overall                              46
Potential                            64
Club                  Scunthorpe United
Preferred Position                   ST
CAM                                  29
CB                                   45
CDM                                  38
CF                                   29
CM                                   30
LAM                                  29
LB                                   40
LCB                                  45
LCM                                  30
LDM                                  38
LF                                   29
LM                                   30
LS                                   31
LW                                   29
LWB                                  38
RAM                                  29
RB                                   40
RCB                                  45
RCM                                  30
RDM                                  38
RF                                   29
RM                                   30
RS                                   31
RW                                   29
RWB                                  38
ST                                   31
Name: 0, dtype: object